set_location IN_MUX_bfv_2_6_0_ 2 6 0 #ICE_CARRY_IN_MUX
set_location un1_a_cry_0_c_THRU_CRY_0 2 6 0 #SB_CARRY
set_location un1_a_cry_2_c 2 6 3 #SB_CARRY
set_location result_RNO_1[1] 2 6 2 #SB_LUT4
set_location result_RNO[1] 2 7 5 #SB_LUT4
set_location result_RNO_0[1] 2 5 5 #SB_LUT4
set_location un1_a_cry_1_c 2 6 2 #SB_CARRY
set_location result_RNO_1[0] 2 6 1 #SB_LUT4
set_location result_RNO_0[2] 1 6 1 #SB_LUT4
set_location result_RNO[0] 2 7 2 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location result_RNO[3] 2 6 4 #SB_LUT4
set_location result_RNO_1[3] 1 6 5 #SB_LUT4
set_location result_RNO_0[3] 1 6 0 #SB_LUT4
set_location result_RNO[2] 2 7 4 #SB_LUT4
set_location result_RNO_1[2] 2 6 3 #SB_LUT4
set_location un1_a_cry_0_c 2 6 1 #SB_CARRY
set_location b_ibuf_RNIQE6R[2] 1 6 2 #SB_LUT4
set_location b_ibuf_RNIOC6R[1] 2 6 6 #SB_LUT4
set_location b_ibuf_RNIMA6R[0] 2 6 7 #SB_LUT4
set_location result_RNO_0[0] 2 6 5 #SB_LUT4
set_io result[0] 99
set_io b[0] 24
set_io a[2] 34
set_io result[3] 96
set_io b[1] 25
set_io a[1] 28
set_io result[2] 97
set_io func[0] 32
set_io b[2] 26
set_io a[0] 29
set_io result[1] 98
set_io func[1] 31
set_io clk 20
set_io b[3] 22
set_io a[3] 23
